<h1>Game#results</h1>
<p>Find me in app/views/game/results.html.erb</p>

<h1>Winner:</h1>
<p><%= @fight.winner.name %></p>
<h1>Loser: </h1>
<p><%= @fight.loser.name %></p>
<%= link_to 'Arrange Another Fight', "fight" %>
